/* line 156, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#small-logo, #menu, footer #contact, footer #RG, #course .content .left, #course .content .right, #header #groupe .img, #header #groupe .text {
  float: left;
}

/* line 158, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#header #logo_big .img {
  float: none;
}

/* line 160, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
header .wrapper, #course, #course .content, #header, #header #groupe {
  *zoom: 1;
}
/* line 19, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
header .wrapper:before, #course:before, #course .content:before, #header:before, #header #groupe:before, header .wrapper:after, #course:after, #course .content:after, #header:after, #header #groupe:after {
  content: " ";
  display: table;
}
/* line 20, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
header .wrapper:after, #course:after, #course .content:after, #header:after, #header #groupe:after {
  clear: both;
}

/* line 169, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#small-logo, #menu, footer #contact, footer #RG, #course .content .left, #course .content .right, #header #logo_big .img, #header #groupe .img, #header #groupe .text {
  position: relative;
  min-height: 1px;
  padding: 0 2px;
}

@font-face {
  font-family: 'Raleway1';
  src: url("/fonts/raleway/raleway-light-webfont.eot");
  src: url('/fonts/raleway/raleway-light-webfont.eot?#iefix"') format("embedded-opentype"), url("/fonts/raleway/raleway-light-webfont.woff") format("woff"), url("/fonts/raleway/raleway-light-webfont.otf") format("opentype"), url("/fonts/raleway/raleway-light-webfont.svg#raleway-light") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway2';
  src: url("/fonts/raleway/raleway-regular-webfont.eot");
  src: url('/fonts/raleway/raleway-regular-webfont.eot?#iefix"') format("embedded-opentype"), url("/fonts/raleway/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway/raleway-regular-webfont.otf") format("opentype"), url("/fonts/raleway/raleway-regular-webfont.svg#raleway-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway3';
  src: url("/fonts/raleway/raleway-bold-webfont.eot");
  src: url('/fonts/raleway/raleway-bold-webfont.eot?#iefix"') format("embedded-opentype"), url("/fonts/raleway/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway/raleway-bold-webfont.otf") format("opentype"), url("/fonts/raleway/raleway-bold-webfont.svg#raleway-light") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 17, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.42857em;
}

/* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
body {
  background-color: #a0ddf3;
  width: 100%;
  font-family: "Raleway1", "Helvetica Neue", Arial, sans-serif;
}

/* line 7, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
header {
  background-color: #9189ff;
  border-bottom: 3px #e05d41 solid;
}
/* line 10, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
header .wrapper {
  width: 960px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  /* line 10, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
  header .wrapper {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 15, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
#small-logo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
}
@media only screen and (max-width: 767px) {
  /* line 15, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
  #small-logo {
    float: none;
    width: auto;
  }
}
/* line 17, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
#small-logo .img {
  background-image: url(/assets/logo-small.png);
  width: 195px;
  height: 41px;
  margin: 10px 0 6px;
}

/* line 25, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
#menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
}
@media only screen and (max-width: 767px) {
  /* line 25, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
  #menu {
    float: none;
    width: auto;
  }
}

/* line 29, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
#content {
  background-image: url(/assets/back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  padding-right: 30px;
}

/* line 37, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
footer {
  *zoom: 1;
  padding-bottom: 1.42857em;
  padding-top: 1.42857em;
  margin-top: 2.85714em;
  background-color: #7aa700;
  border-top: 3px #e05d41 solid;
  color: white;
  font-family: "Raleway3";
  font-size: 1.78571em;
  line-height: 1.6em;
}
/* line 38, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 47, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
footer #contact {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 47, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
  footer #contact {
    float: none;
    width: auto;
  }
}
/* line 52, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
footer #RG {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  text-align: right;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 52, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/layouts.css.scss */
  footer #RG {
    float: none;
    width: auto;
  }
}

/* line 8, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_left {
  width: 100px;
  height: 100px;
  background-color: #e05d41;
  position: absolute;
  left: -104px;
  bottom: 0px;
}

/* line 14, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_right_top {
  width: 100px;
  height: 100px;
  background-color: #e05d41;
  position: absolute;
  right: -104px;
  top: 0px;
}

/* line 19, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_right_top_buttom {
  width: 100px;
  height: 100px;
  background-color: #e05d41;
  position: absolute;
  right: -104px;
  top: 104px;
}

/* line 24, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_right_top_right {
  width: 100px;
  height: 100px;
  background-color: #cd8376;
  position: absolute;
  right: -208px;
  top: 0px;
}

/* line 30, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_left_buttom {
  width: 100px;
  height: 100px;
  background-color: #e05d41;
  position: absolute;
  left: -104px;
  bottom: -104px;
}

/* line 36, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_left_buttom_right {
  width: 100px;
  height: 100px;
  background-color: #e05d41;
  position: absolute;
  left: 0px;
  bottom: -104px;
}

/* line 42, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_right_top_olive {
  width: 100px;
  height: 100px;
  background-color: #7aa700;
  position: absolute;
  bottom: 0px;
  left: 482px;
}

/* line 48, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/block.css.scss */
.block_right_top_buttom_olive {
  width: 100px;
  height: 100px;
  background-color: #7aa700;
  position: absolute;
  left: 482px;
  bottom: 104px;
}

/* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course {
  width: 960px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  /* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
  #course {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 3, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .line {
  margin-left: -120px;
  border-bottom: 2px #e05d41 solid;
  width: 125%;
  margin-bottom: -35px;
}
/* line 9, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .title {
  font-size: 2.85714em;
  line-height: 1.5em;
  text-align: center;
  color: #e05d41;
}
/* line 13, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .title field {
  background-color: #a0ddf3;
}
/* line 17, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content {
  width: 960px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  margin-top: 2.85714em;
  margin-bottom: 5.71429em;
  font-size: 1.35714em;
  line-height: 2.10526em;
  line-height: 1.4em;
}
@media only screen and (max-width: 767px) {
  /* line 17, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
  #course .content {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 23, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  /* line 23, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
  #course .content .left {
    float: none;
    width: auto;
  }
}
/* line 25, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .text {
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  padding-left: 44px;
  padding-right: 50px;
  background-color: #7aa700;
  border-bottom: 3px #e05d41 solid;
  color: black;
  font-family: "Raleway2";
  border-bottom: 3px #e05d41 solid;
}
/* line 36, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request {
  padding-top: 1.42857em;
  background-color: #7500a7;
  border-bottom: 3px #0cf389 solid;
  color: white;
  margin-top: 4px;
}
/* line 42, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request .apply_text {
  font-family: "Raleway3";
  font-size: 1.57143em;
  line-height: 1.81818em;
  text-align: left;
  padding-left: 40px;
}
/* line 48, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request .apply {
  height: 135px;
}
/* line 50, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request .apply a {
  text-decoration: none;
  color: white;
  font-size: 180px;
  line-height: 0.5em;
  display: block;
  text-align: center;
}
/* line 59, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request table {
  margin-top: 1.42857em;
}
/* line 61, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request table .text_lable {
  padding-left: 40px;
  font-size: 1.57143em;
  line-height: 1.81818em;
  font-family: "Raleway2";
}
/* line 66, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request table .field {
  padding-top: 0.71429em;
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
  border: none;
  margin-left: 30px;
  width: 240px;
}
/* line 74, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request table .city {
  padding-left: 30px;
}
/* line 75, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .left .apply_request table button {
  margin-top: 0.42857em;
  margin-bottom: 1.42857em;
  border: none;
  background-color: #0cf389;
  float: right;
  color: #7500a7;
  font-size: 1.57143em;
  line-height: 1.81818em;
  width: 125px;
  height: 40px;
}
/* line 89, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-top: 1.42857em;
  padding-bottom: 3.57143em;
  font-family: "Raleway2";
  padding-left: 40px;
  padding-right: 40px;
  background-color: #e05d41;
  border-bottom: 3px #7aa700 solid;
  color: white;
}
@media only screen and (max-width: 767px) {
  /* line 89, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
  #course .content .right {
    float: none;
    width: auto;
  }
}
/* line 99, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .content .right p {
  text-indent: 36px;
  line-height: 1.6em;
}
/* line 105, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels {
  display: block;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  *zoom: 1;
  margin: 0 -2px;
  font-size: 0;
}
/* line 19, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#course .angels:before, #course .angels:after {
  content: " ";
  display: table;
}
/* line 20, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#course .angels:after {
  clear: both;
}
/* line 49, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
#course .angels li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 108, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#course .angels li {
  height: auto;
  font-size: 14px;
  padding: 0 2px 4px;
}
/* line 116, /home/belko/ror/RDC/Codeangels/vendor/assets/stylesheets/foundation-grid.css.scss */
#course .angels li {
  width: 33.33333%;
  padding: 0 2px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 108, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels {
  font-size: 1.35714em;
  line-height: 1.26316em;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7aa700;
  height: 315px;
  white-space: normal;
}
/* line 115, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.tyrion {
  background-image: url(/assets/angels2.png);
  border-bottom: 3px #e05d41 solid;
}
/* line 118, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.tyrion .biographya {
  display: none;
}
/* line 120, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.tyrion:hover .biographya {
  background-color: #7aa700;
  border-bottom: 3px #e05d41 solid;
  display: block;
  height: 277px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 129, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.tyrion:hover .biographya.r {
  margin-left: -4px;
}
/* line 130, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.tyrion:hover .biographya.l {
  margin-right: -4px;
}
/* line 134, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.jon {
  background-image: url(/images/angels3.png);
  border-left: 3px #e05d41 solid;
}
/* line 137, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.jon .biographya {
  display: none;
}
/* line 139, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.jon:hover .biographya {
  background-color: #7aa700;
  display: block;
  margin-left: -3px;
  height: 295px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 3px #e05d41 solid;
}
/* line 149, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.jon:hover .biographya.t {
  padding-bottom: 7px;
}
/* line 150, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.jon:hover .biographya.b {
  margin-top: -11px;
  padding-top: 7px;
}
/* line 157, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.daenerys {
  background-image: url(/assets/angels1.png);
  border-bottom: 3px #e05d41 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 161, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.daenerys .biographya {
  display: none;
}
/* line 163, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.daenerys:hover .biographya {
  background-color: #7aa700;
  border-bottom: 3px #e05d41 solid;
  display: block;
  height: 274px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 172, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.daenerys:hover .biographya.r {
  margin-left: -4px;
}
/* line 173, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course .angels li .block_angels.daenerys:hover .biographya.l {
  margin-right: -4px;
}

/* line 183, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/courses.css.scss */
#course.angels .line {
  margin-top: 5.71429em;
}

/* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header {
  width: 960px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  /* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
  #header {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 4, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #logo_big .img {
  background-image: url(/assets/logo_big.png);
  margin-bottom: 4.28571em;
  margin-top: 2.85714em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 33.33333%;
  background-repeat: no-repeat;
  height: 206px;
}
@media only screen and (max-width: 767px) {
  /* line 4, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
  #header #logo_big .img {
    float: none;
    width: auto;
  }
}
/* line 13, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #title {
  color: black;
  font-size: 40px;
  font-family: 'Raleway1';
  text-align: center;
}
/* line 19, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #groupe {
  width: 960px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  margin-top: 5.71429em;
  margin-bottom: 8.57143em;
  border-bottom: 3px #7aa700 solid;
}
@media only screen and (max-width: 767px) {
  /* line 19, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
  #header #groupe {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 24, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #groupe .img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  background-image: url(/assets/foto1.png);
  background-repeat: no-repeat;
  height: 441px;
  background-size: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 24, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
  #header #groupe .img {
    float: none;
    width: auto;
  }
}
/* line 32, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #groupe:hover .img {
  background-image: url(/assets/foto2.png);
  background-repeat: no-repeat;
  height: 441px;
  background-size: 100%;
}
/* line 39, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
#header #groupe .text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  background: #e05d41;
  color: white;
  height: 441px;
  font-family: 'Raleway1';
  font-size: 21px;
  line-height: 1.3;
  padding-right: 40px;
  padding-left: 12px;
  padding-top: 0.57143em;
}
@media only screen and (max-width: 767px) {
  /* line 39, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/header.css.scss */
  #header #groupe .text {
    float: none;
    width: auto;
  }
}

/* line 1, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/nav.css.scss */
nav {
  *zoom: 1;
}
/* line 38, /home/belko/.rvm/gems/ruby-2.0.0-p247@codeangels/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 3, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/nav.css.scss */
nav a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  text-decoration: none;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
}
/* line 12, /home/belko/ror/RDC/Codeangels/app/assets/stylesheets/modules/nav.css.scss */
nav a:hover, nav a.active {
  background-color: #e05d41;
  color: white;
  margin-bottom: -3px;
  border-bottom: 3px #9189ff solid;
}
